@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.navbar {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  background-image: linear-gradient(pink, turquoise);
}